		<style>
			body
			{
				width: 50%;
				text-align: center;
				//margin: 10px 25% 10px 25%;
			}
			p
			{
				text-align: justify;
				font-family: Calibri (Body);
				font-size: 120%;
				line-height: 25pt;
			}
			.red{
				background-color: #941100;
				color: white;
			}
			.blue{
				background-color: #002060;
				color: white;
			}
			span { page-break-after: always;}
			@media print {
			    span { page-break-after: always;}
			}
		</style>
	</head>
	<body>
	<div class="front" style="text-align: center;  ">
		<img src="<?= $_SERVER['DOCUMENT_ROOT'] ?>/images/NewFrontpages/MIRA.jpg" alt="" style="  left: 0;  top: 0;">
		<p style="z-index: 100;  position: absolute;  color: white;  font-size: 24px; font-weight: bold;   left: 400px; top: 890px;">
			Mitul Lakhani
		</p>
	</div>
	<br><br><br>
	<div class="back">
		<div style="background-color: #4f81bd; padding: 10px; border: 2px solid #4f81bd; border-radius: 10px;">
			 <font face="arial" size="5" color="white">
			 	<b>Matrices of Intellectual Reasoning</b>
			 </font>
		</div>
		<br>
		<p>
			The Matrices of Intellectual Reasoning Assessment (MIRA) is a non-verbal mental ability test that requires test-takers to find solutions to a range of different problems. It measures observation skills, thinking ability, intellectual capacity and efficiency. It also measures one’s ability to formulate new concepts, extract meaning out of ambiguity and to think clearly about complex situations and events.
		</p>

		<p>
			The Stratified Systems Theory (SST) developed by Eliot Jaques defines work in different organisational levels, mainly on the basis of decision-making complexity. MIRA measures the individual’s capability to find solutions through different levels of complex problems.
		</p>
		<br>
		<div class="red">
			<h3 style="padding: 8px;">Complexity, Ambiguity and Uncertainty</h3>
		</div>
		<br>

		<div style="text-align: center;">
			<img src="<?= $_SERVER['DOCUMENT_ROOT'] ?>/images/5in1.png" alt="">
		</div>
		<br>
		<span></span>
		<div class="blue">
			<h3 style="padding: 8px;">Complexity, Ambiguity and Uncertainty</h3>
		</div>
		<br>

		<div class="label-result">
			<h2><strong>SST LEVEL 1 - TANGIBLE BRILLIANCE</strong></h2>
			<br>
			<div class="imgwordcloud" style="text-align: center;">
				<img src="<?= $_SERVER['DOCUMENT_ROOT'] ?>/images/wordcloud.png" alt="" align="center" width="700" height="400">
			</div>
			<p>
				The candidate seems to be more comfortable working in an environment with tangible outputs where quality is their main priority. They may prefer to follow a clear set of guidelines to perform optimally and are more inclined to function in an operational and/or technical environment. A structured environment will probably suite the candidate better where they can plan and organise their daily activities. The candidate might also be more inclined to follow routines as this will make their work activities more predictable and measurable. 
			</p>
			<p>
				Leaders on this level are usually leaders of self, having to manage their own work schedules and plan their own day-to-day activities. 
			</p>
		</div>
		<br><br>
		<span></span>
		<div class="disclosure">
			<h1>Disclosure</h1>
			<br>
			<p><strong>Purpose:</strong> The purpose of this report is to indicate the test-taker’s cognitive capability using the Stratified Systems Theory (SST). This report is for the attention of the manager who requested the assessment and remains the property of AssessmentHouse. This report may not be shared with any individual or company who is not trained in psychometric testing or have been authorised through informed consent by the test-taker and supervising psychologist.  
			</p>
			<p>
			<strong>Disclaimer:</strong> Since the report contains confidential information it needs to be dealt with accordingly. Consequently this report may not be handed over to the participant. It may also not be used as evidence in a disciplinary hearing.  Should this report or the content of the report be handled or communicated incorrectly by any party within the company, AssessmentHouse cannot be held liable for any claims resulting from such action.
			</p>

		</div>
	</div>